@charset "utf-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-20
 * Description: define <header></header> attributes
*/
@use '../../../variable/_all/css/variable';

header, .header {
	border-width: 0;
	border-bottom-width: variable.$defaultBorderWidth;
	
	color: variable.$colour1stForeground;
	background: variable.$colour1stBackground;
	overflow-y: hidden;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding-top: variable.$sizeMedium;
	padding-bottom: variable.$sizeMedium;
	margin-left: auto;
	margin-right: auto;

	border-style: solid;
	border-bottom-width: 0.1rem;
	border-color: variable.$colour1stForeground;
	
	@include variable.browserSupport( box-sizing, border-box ); // Uniform tag sizing
}
#header {
	/* optional container */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: variable.$colour1stBackground;
	z-index: 99;

	display: flex;
	align-items: center;
	justify-content: space-between;
}