@charset "utf-8";
/*
Author:  Joshua Balsillie
Date Created:  2015-05-20
Description:  define <footer></footer> attributes
*/
@use '../../../variable/_all/css/variable';

footer, .footer {
	display: block;
	margin-left: auto;
	margin-right: auto;

	& .icon > a > img {
		// style for footer icons
		fill: variable.$colour1stBackground;
	}
}
body {
	& footer, .footer {
		&:last-child {
			color: variable.$colour1stForeground;
			background: transparent;
			overflow-y: hidden;
			vertical-align: middle;
			
			padding-left: 10%;
			padding-right: 10%;
			
			padding-top: variable.$sizeMedium;
			padding-bottom: variable.$sizeMedium;
			
			@include variable.browserSupport( box-sizing, border-box ); // Uniform tag sizing
		}
	}
}
#footer {
	// optional container
}