@charset "utf-8";
/*
 * Author:Joshua Balsillie
 * Date Created:2016-08-18
 * Description:define <p></p> attributes
 */

p, .p {
	display:block;
	line-height:140%;
	font-size:( $defaultFontSize * $fontSmallest );

	/* Remove defaults */
	@include browserSupport( margin-start, $fontMargin );
	@include browserSupport( margin-end, $fontMargin );
	@include browserSupport( margin-before, $fontMargin );
	@include browserSupport( margin-after, $fontMargin );
}