@charset "utf-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2020-07-23
 * Description: override the menu widget attributes
 */
@use '../../../variable/_all/css/variable';

@use '../../../../../widgets/menu/css/menu' with(
	$menu_colourForeground: variable.$colour1stForeground,
	$menu_colourBackground: variable.$colour1stForeground,
	$menu_colourActionForeground: variable.$colour1stBackground,
	$menu_colourActionBackground: variable.$colourActionLight,
	$menu_iconImage: variable.$icon_menu,
	$menu_iconColour: variable.$colourActionLight
);