@charset "utf-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2020-07-23
 * Description: override the menu widget attributes
 */
@use '../../../variable/_all/css/variable';

@use '../../../../../widgets/menu/css/menu' with(
	$menu_horizontalColourForeground: variable.$colour1stForeground,
	$menu_horizontalColourBackground: variable.$colour1stBackground,
	$menu_horizontalColourForegroundAction: variable.$colourActionDark,
	$menu_horizontalColourBackgroundAction: variable.$colourActionLight,
	$menu_verticalColourForeground: variable.$colour1stBackground,
	$menu_verticalColourBackground: variable.$colour1stForeground,
	$menu_verticalColourForegroundAction: variable.$colourActionLight,
	$menu_verticalColourBackgroundAction: variable.$colourActionDark,
	$menu_iconImage: variable.$icon_menu,
	$menu_iconSize: variable.$sizeMedium,
	$menu_iconColour: variable.$colourActionLight
);