@charset "utf-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-22
 * Description: define <button></button> styles
 */
@use '../../../variable/_all/css/variable';

button, .button {
	font-size: ( variable.$defaultFontSize * variable.$fontSmallest );
	display: inline-flex;
	cursor: pointer;
	align-items: flex-start;
	width: auto;

	color: variable.$colourActionDark;
	background-color: transparent;
	border-color: variable.$colourActionDark;
	
	border-width: variable.$defaultBorderWidth;
	border-style: variable.$defaultBorderStyle;
	border-radius: 2rem;
	
	text-transform: variable.$transformTitle;
	text-align: center;
	justify-content: center;
	padding-top: variable.$paddingAroundItem * variable.$ratioTop;
	padding-bottom: variable.$paddingAroundItem * variable.$ratioBottom;
	padding-left: variable.$paddingAroundItem * variable.$ratioLeft;
	padding-right: variable.$paddingAroundItem * variable.$ratioRight;
	@include variable.browserSupport( transition-duration, 0.3s );
	
	margin-bottom: variable.$paddingAroundItems;

	&:hover, :focus, :active, .selected {
		color: variable.$colourActionLight;
		background-color: variable.$colourActionDark;
	}
	&.deselected {
		color: variable.$colourActionDark;
		background-color: transparent;
		border-color: variable.$colourActionDark;
	}
}