@charset "utf-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-18
 * Description: define <a></a> styles
 */
@use '../../../variable/_all/css/variable';

a, .a {
	font-size: ( variable.$defaultFontSize * variable.$fontSmallest );
	text-decoration: none;
	display: inline;
	cursor: pointer;
	line-height: 140%;
	
	/* Remove defaults */
	@include variable.browserSupport( margin-start, variable.$fontMargin );
	@include variable.browserSupport( margin-end, variable.$fontMargin );
	@include variable.browserSupport( margin-before, variable.$fontMargin );
	@include variable.browserSupport( margin-after, variable.$fontMargin );

	&:-webkit-any-link {
		color: inherit;
	}
	&:target::before {
		content: "";
		display: block;
		height: 4.5rem; // header height
		margin-top: -4.5rem; // negative header height
	}
}