@charset "utf-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-18
 * Description: define <h6></h6> attributes
 */
@use '../../../variable/_all/css/variable';

h6, .h6 {
	display: block;
	line-height: 180%;
	font-size: ( variable.$defaultFontSize * variable.$fontSmallest );
	font-weight: 100;

	/* Remove defaults */
	@include variable.browserSupport( margin-start, variable.$fontMargin );
	@include variable.browserSupport( margin-end, variable.$fontMargin );
	@include variable.browserSupport( margin-before, variable.$fontMargin );
	@include variable.browserSupport( margin-after, variable.$fontMargin );
}