@charset "utf-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-20
 * Description: define <div></div> styles
 */

div, .div {
	/* Overwrite Defaults */
	display:block;
}
body > div {
	padding-left:10%;
	padding-right:10%;
	
	padding-top:$sizeMedium;
	padding-bottom:$sizeMedium;
	margin-left:auto;
	margin-right:auto;
	border:0;
	
	@include browserSupport( box-sizing, border-box ); // Uniform tag sizing
	
	&:nth-child(odd) {
		color:$colour2ndForeground;
		background-color:$colour2ndBackground;
	
		& > .highlight {
			color:$colour2ndBackground;
			background-color:$colour2ndForeground;
			border-color:$colour2ndAccent;
			
			border-width:$defaultBorderWidth;
			border-style:$defaultBorderStyle;
		}
	}
	&:nth-child(even) {
		color:$colour3rdForeground;
		background-color:$colour3rdBackground;
	
		& > .highlight {
			color:$colour3rdBackground;
			background-color:$colour3rdForeground;
			border-color:$colour3rdAccent;
			
			border-width:$defaultBorderWidth;
			border-style:$defaultBorderStyle;
		}
	}
}