@charset "utf-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-05-24
 * Description: define <section></section> attributes
*/

section {
	display:block;
	
	padding-left:10%;
	padding-right:10%;
	
	padding-top:$sizeMedium;
	padding-bottom:$sizeMedium;
	margin-left:auto;
	margin-right:auto;
	border:0;
	
	/* Uniform tag sizing */
	@include browserSupport( box-sizing, border-box );
	
	& > :first-child {
		text-align:center;
	}
	
	&:nth-child(odd) {
		color:$colour2ndForeground;
		background-color:$colour2ndBackground;
	
		& > .highlight {
			color:$colour2ndBackground;
			background-color:$colour2ndForeground;
			border-color:$colour2ndAccent;
			
			border-width:$defaultBorderWidth;
			border-style:$defaultBorderStyle;
		}
		& input, textarea {
			color:$colour1stBackground;
			background-color:$colour2ndAccent;
		}
		& button,
		input[type="submit"],
		input[type="button"],
		input[type="file"],
		.button {
			color:$colourActionDark;
			background-color:transparent;
			border-color:$colourActionDark;
			
			border-width:$defaultBorderWidth;
			border-style:$defaultBorderStyle;
			
			&:hover, :focus, :active, .selected {
				color:$colour2ndBackground;
				background-color:$colourActionDark;
			}
			&.deselected {
				color:$colourActionDark;
				background-color:transparent;
				border-color:$colourActionDark;
				
				&:hover, :focus, :active {
					color:$colour2ndBackground;
					background-color:$colourActionDark;
				}
			}
		}
	}
	&:nth-child(even) {
		color:$colour3rdForeground;
		background-color:$colour3rdBackground;
	
		& > .highlight {
			color:$colour3rdBackground;
			background-color:$colour3rdForeground;
			border-color:$colour3rdAccent;
			
			border-width:$defaultBorderWidth;
			border-style:$defaultBorderStyle;
		}
		& input, textarea {
			color:$colour3rdBackground;
			background-color:$colour3rdForeground;
		}
		& button,
		input[type="submit"],
		input[type="button"],
		input[type="file"],
		.button {
			color:$colourActionDark;
			background-color:transparent;
			border-color:$colourActionDark;
			
			border-width:$defaultBorderWidth;
			border-style:$defaultBorderStyle;
			
			&:hover, :focus, :active, .selected {
				color:$colour3rdBackground;
				background-color:$colourActionDark;
			}
			&.deselected {
				color:$colourActionDark;
				background-color:transparent;
				border-color:$colourActionDark;
				
				&:hover, :focus, :active {
					color:$colour3rdBackground;
					background-color:$colourActionDark;
				}
			}
		}
	}
}
