/*
 * Author: Joshua Balsillie
 * Date Created: 2016-09-07
 * Description: define <img></img> attributes
 */
@use '../../../variable/_all/css/variable';

img, .img {
	max-width: 100%;
	max-height: 20rem;
	
	border-color: variable.$colour1stBackground;
	border-style: variable.$defaultBorderStyle;
	
	&.circle {
		border-radius: 50%;
	}

	/* Uniform tag sizing */
	@include variable.browserSupport( box-sizing, border-box );
}