@charset "utf-8";
/*
 * Author:Joshua Balsillie
 * Date Created:2020-03-28
 * Description:define alignment settings
 */

 .alignLeft {
 	text-align: left;
 }
 .alignCenter {
 	text-align: center;
 }
 .alignRight {
 	text-align: right;
 }