@charset "utf-8";
/*
 * Author:Joshua Balsillie
 * Date Created:2020-03-28
 * Description:define alignment settings
 */

  .alignCenter {
 	text-align: center;
 	margin-left: auto;
 	margin-right: auto;
 }
 .alignLeft {
 	text-align: left;
 	margin-right: auto;
 }
 .alignRight {
 	text-align: right;
 	margin-left: auto;
 }